* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Color scheme */

  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #2749c9;
}

@media (prefers-color-scheme: dark) {
  * {
    --textcolor: #dadada;
    --bgcolor: #141414;
    --highlight: #ffc400;
  }
}

body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  max-width: 64em;
  margin: 0 auto;
}

section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;

  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
}

header {
  padding: 5vw 5vw 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header h1 {
  font-size: 1em;
  flex: 1;
  white-space: nowrap;
  padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

a {
  text-decoration: none;
  color: var(--highlight);
}

a:hover {
  border-bottom: 1px solid;
}

section h1 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

p {
  max-width: 60ch;
  margin-bottom: .6em;
}

@media only screen and (max-width: 680px) {
  body { font-size: 16px; }
}

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
}

/* ------- Print ------- */

@media print {
  nav { display: none; }
}