* {
  font-family: 'Courier New', monospace;
  color: #16161D;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map, #user-interface {
  position: absolute;
  height: 100%;
  width: 100%;
}

#user-interface {
  pointer-events: none;
}

#user-interface * {
  pointer-events: all;
}

#headerbox {
  position: absolute;
  top: 0;
  background: white;
  border: 1px solid #16161D;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

#headerbox h1 {
  margin: 0;
  white-space: nowrap;
}

#infobox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #16161D;
  padding: 1em;
  margin: 1em;
}

#modalbox {
  position: absolute;
  background: white;
  color: #16161D;
}
